<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>Law Type Add</title>
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/lawtypeinter/list">Олон улсын Хууль эрх зүй</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>Static Tables</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-legal"></i> Олон улсын Хууль эрх зүй оруулах </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="" class="reload"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form  action="#" th:action="@{/lawtypeinter/save}"  id="addForm" name="law_international_type_form" th:object="${lawTypes}" class="form-horizontal"  method="post" role="form" >
                                    <div class="form-body">                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Хуулийн Нэр</label>
                                            <div class="col-sm-6">
                                                <input type="hidden" name="law_type_id" th:value="*{id}"/>
                                                <input type="text" class="form-control" name="law_type_name" th:value="*{name}" />
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" name="action" value="save"  class="btn btn-green">Хадгалах</button>
                                            <button type="submit" name="action" value="cancel" class="btn btn-default">Цуцлах</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </body>
</html>

