<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>News Add Form</title>
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html">Мэдээ мэдээлэл</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Шинэ мэдээ</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>Шинэ мэдээ нэмэх</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-legal"></i> Хууль, Дүрэм засах </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="" class="reload"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!--<form  action="" id="bForm" class="form-horizontal" data-th-object="${law}" data-th-action="@{/law/add}" method="post">-->
                                <form  action="#" th:action="@{/news/saveNew}" th:object="${news}" id="newsAddForm" name="addForm" class="form-horizontal"  method="post" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"> Мэдээний Гарчиг</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="news_title" th:value="*{title}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Мэдээний агуулга</label>
                                            <!--                                            <div class="col-sm-6">
                                                                                            <input type="text" class="form-control datepicker" name="news_content" th:value="*{content}"/>
                                                                                        </div>-->
                                            <div class="col-md-12 click2edit">
                                                <textarea  rows = "40" cols = "100" th:field = "*{content}" name="summernote" id="summernote_2" > </textarea>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" name="action" value="save"  class="btn btn-green">Хадгалах</button>
                                            <button type="submit" name="action" value="cancel" class="btn btn-default">Цуцлах</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>


    </body>
</html>

