<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>Regulation Government Types</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/">Тушаал Шийдвэр</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Тушаал Шийдвэрийн жагсаалт</a>
                            <i class="fa fa-circle"></i>
                        </li>
                    </ul>
                </div>
                <!-- END PAGE BAR -->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-bell-o"></i>Хэсгүүд</div>
                        <div class="actions">
                            <a class="btn grey-salsa btn-sm active" href="/docrules/new" > Шийдвэрийн төрөл нэмэх
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-briefcase"></i> Төрлийн ангиллын нэр
                                        </th>
                                        <th>
                                            <i class="fa fa-briefcase"></i> Төрлийн ангиллын дээд
                                        </th>
                                        <th class="hidden-xs">
                                            <i class="fa fa-user"></i> Засах </th>
                                        <th class="hidden-xs">
                                            <i class="fa fa-user"></i> Устгах </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each=" type : ${doctypetypes}">
                                        <td th:text="${type.name}"> 
                                        </td>
                                        <td th:text="${type.docTypeId.name}"> 
                                        </td>
                                        <td>
                                            <a th:href="${'/docrules/edit/' + type.id}" class="btn btn-outline btn-circle btn-sm purple">
                                                <i class="fa fa-edit"></i> Засах </a>
                                        </td>
                                        <td>
                                            <a th:href="${'/docrules/delete/' + type.id}" class="btn btn-outline btn-circle btn-sm purple">
                                                <i class="fa fa-remove"></i> Устгах </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </body>
</html>

