<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>Засгийн Газрын тушаалын засах</title>
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html">Тушаал тогтоол</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Тушаалын төрөл засах</a>
                            <i class="fa fa-circle"></i>
                        </li>

                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-legal"></i> Засгийн Газрын тушаалын төрөл засах </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="" class="reload"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!--<form  action="" id="bForm" class="form-horizontal" data-th-object="${law}" data-th-action="@{/law/add}" method="post">-->
                                <form  action="#" th:action="@{/docrules/saveEdit}" th:object="${doctypetypes}" id="addForm" name="addForm" class="form-horizontal"  method="post" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <input type="hidden"  name="doc_type_type_id" th:value="*{id}"/>
                                            <label class="col-sm-2 control-label">Тушаал Шийдвэр Нэр</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="doc_type_name" th:value="*{name}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Хуулийн төрөл сонгох </label>
                                            <div class="col-sm-6">
                                                <select name="doc_type_id" th:value="*{docTypeId}">
                                                    <option th:each="doctype, docStat : ${doctypes}"
                                                            th:value="${doctype.id}"
                                                            th:text="${doctype.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" name="action" value="save"  class="btn btn-green">Хадгалах</button>
                                            <button type="submit" name="action" value="cancel" class="btn btn-default">Цуцлах</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>


    </body>
</html>

