<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>Засгийн Газрын тушаалын төрөл нэмэх</title>
        <!-- BEGIN PAGE LEVEL PLUGINS -->

        <!-- END PAGE LEVEL PLUGINS -->
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html">Тушаал тогтоол</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Тушаалын төрөл нэмэх</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-legal"></i> Засгийн Газрын тушаалын төрөл нэмэх </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="" class="reload"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!--<form  action="" id="bForm" class="form-horizontal" data-th-object="${law}" data-th-action="@{/law/add}" method="post">-->
                                <form  action="#" th:action="@{/regtype/government/save}" th:object="${typeGov}" id="addForm" name="addForm" class="form-horizontal"  method="post" role="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Хуулийн Төрлийн Нэр</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="govTypeName" th:value="*{name}"/>
                                            </div>
                                        </div>
                                        
                                        <div class="form-actions">
                                            <button type="submit" name="action" value="save"  class="btn btn-green">Хадгалах</button>
                                            <button type="submit" name="action" value="cancel" class="btn btn-default">Цуцлах</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>


    </body>
</html>

