<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>Law Form</title>
        <!-- BEGIN PAGE LEVEL PLUGINS -->

        <!-- END PAGE LEVEL PLUGINS -->
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->

                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/law/list">Монгол Улсын Хууль</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Tables</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>Static Tables</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-legal"></i> Хууль засах </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                    <a href="" class="reload"> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!--<form  action="" id="bForm" class="form-horizontal" data-th-object="${law}" data-th-action="@{/law/edit}" method="post">-->
                                <form  action="/law/save" id="editForm" name="law_form" class="form-horizontal"  method="post" role="form">
                                    <div class="form-body">
                                        <input type="hidden" name="law_id" th:value="${law.lawId}"/>
                                        <input type="hidden" name="law_created_at" th:value="${law.createdAt}" />
                                        <input type="hidden" name="law_created_by" th:value="${law.createdBy}" />
<!--                                        <input type="hidden" name="law_type_id" th:value="${lawTypes.id}" />-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Хуулийн Нэр</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="law_name" th:value="${law.lawName}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Батлагдсан</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control datepicker" name="law_approved_year" th:value="${law.approvedYear}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Өөрчлөгдсөн</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control datepicker"
                                                       name="law_changed_year" th:value="${law.changedYear}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Файл</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="law_path" th:value="${law.path}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Хуулийн төрөл сонгох </label>
                                            <div class="col-sm-6">
                                                <select name="" id="lawTypes" data-th-value="${law.lawTypeId}">
                                                    <option data-th-each="lawType : ${lawTypes}" 
                                                            data-the-value ="${{lawType.id}}"
                                                            data-th-text="${{lawType.name}}"  
                                                            >
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" name="action" value="save"  class="btn btn-green">Хадгалах</button>
                                            <button type="submit" name="action" value="cancel" class="btn btn-default">Цуцлах</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>


    </body>
</html>

