<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
    <head>
        <title>History</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="page-content-wrapper" data-layout-fragment="content">

            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="/">ИНЕГ НХҮА</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="/history/index">Түүх</a>
                            <i class="fa fa-circle"></i>
                        </li>
                    </ul>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-purple-plum">
                                    <i class="icon-speech font-purple-plum"></i>
                                    <span class="caption-subject bold uppercase"> Түүх </span>
                                    <span class="caption-helper">Нислэгийн хөдөлгөөний үйлчилгээний албаны түүх</span>
                                </div>
                                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="context" data-toggle="context" data-target="#context-menu">
                                    
                                     <p class="form-control-static" th:remove="tag" th:utext="${history.content}"></p>
                                </div>
                                <!-- Your custom menu with dropdown-menu as default styling -->
                                
                            </div>
                        </div>
                        <!-- END PORTLET-->

                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </body>
</html>

